<%- include("Partials/header") -%>
<h1>Home</h1>
<p><%= startingContent %></p>
<% newPost.forEach(function(val){ %>
<h1><%= val.blogTitle %></h1>
<p><%= val.blogContent.substring(0,100)%>... <a href="/posts/<%=val._id %>">Read More</a></p>
<% }) %>
<%- include("Partials/footer") -%>
